:root {
  --greyColor: rgba(0, 0, 0, 0.7);
  --blackColor: #363d3f;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: mintcream;
  max-height: 100%;
  height: 100%;
  color: var(--blackColor);
}

html,
body {
  height: 100%;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header__square {
  background-color: var(--blackColor);
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c8d6e5;
  font-size: 14px;
  margin-right: 20px;
  cursor: pointer;
}
.header__square:hover {
  opacity: 0.6;
}

.header__topbar {
  display: flex;
  margin-right: 30px;
  justify-content: space-between;
  width: 95%;
}
.header ul {
  display: flex;
  flex-wrap: wrap;
  padding-right: 25px;
}

.header ul li {
  list-style: none;
}

.header ul li span {
  display: block;
  height: 100%;
  padding: 0 10px;
  text-decoration: none;
  font-size: 18px;
  color: #111;
  cursor: pointer;
}
.header ul li span:hover {
  opacity: 0.6;
}

.main {
  height: calc(100% - 100px);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
  place-items: center;
}

.nav-sidebar {
  position: fixed; 
  left: 0;
  bottom: 0;
  width: 80px;
  padding: 0 5px;
  height: calc(100vh - 80px);
  background-color: #c8d6e5;
  transition: all 0.3s linear;
}

.nav-sidebar ul{
  padding-top: 15px;
  overflow: hidden;
  visibility: hidden;
}

.nav-sidebar ul li{
  line-height: 60px;
  list-style: none;
}

.nav-sidebar ul li span, .nav-sidebar ul li a{
  display: block;
  height: 60px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s linear;
}

.nav-sidebar ul li span:hover{
  opacity: 0.7;
}


.main .main__info {
  margin-left: 200px;
  width: 100%;
}

.main .main__titles {
  margin-bottom: 150px;
}

.main__titles .main__pre-title {
  text-transform: uppercase;
  color: var(--greyColor);
}

.main__titles .main__title {
  font-size: 80px;
  position: relative;
  left: 80px;
}

.main__titles .main__subtitle {
  font-size: 12px;
  font-weight: 600;
  color: var(--greyColor);
}

.main .main__link {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--greyColor);
  font-size: 14px;
}

.main .main__photo {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: center;
  background-image: url(b_dog3.jpeg);
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
}
.main__photo .main__navigation {
  
  padding: 25px 50px;
  font-weight: 600;
}

.main__navigation .navigation__arrow:first-child {
  margin-right: 10px;
}

.main__navigation .navigation__arrow:last-child {
  margin-left: 10px;
}

.login-box{
  display: none;
  width: 350px;
  height: 450px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 15%;
  left: 80%;
  position: absolute;
  z-index: 1;
  padding: 70px 30px;
}
.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: calc(50% - 50px);
}
.login-box h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #1c8adb;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover {
  opacity: 0.6;
}
.login-box p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.login-box input{
  width: 100%;
  margin-bottom: 20px;
}
input[type="text"], input[type="password"],input[type="number"],input[type="tel"],input[type="email"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  background: #1c8adb;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
  cursor: pointer;
  background: #39dc79;
  color: #000;
}

.login-box a{
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}
.login-box a:hover
{
  color: #39dc79;
}

.register-box{
  display: none;
  align-items: center;
  width: 400px;
  height: 650px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 15%;
  left: 57%;
  position: absolute;
  z-index: 1;
  padding: 50px 30px;
}