:root {
    --padding: 25px;
    --borderTop: 1px solid rgba(0,0,0,0.1);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fafafc;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}  
header {
    
    margin-top: 50px;
    padding:var(--padding);
    /* margin-bottom: 50px; */
}
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.navigation {
    margin-bottom: 50px;
    padding:var(--padding);
}

/* .navigation .login__box {
    
    grid-column: 2 / span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.navigation .login__item {
    display: grid;
    grid-column: 3 / 4;
    padding: var(--padding);
    margin: 30px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 10px 35px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.1);
    
} */

.navigation .navigation__list {
    grid-column: 1fr;
    list-style-type: none;
    display: grid;
    /* grid-template-columns: repeat(4, 50px); */
    grid-gap: 40px;
}

.navigation__list .navigation__item {
    display: grid;
    grid-template-rows: 1fr 1fr; 
    grid-gap: 10px;
    transition: opacity 0.1s linear;
}

.navigation__item .item__icon {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 10px 35px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.1);
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: box-shadow 0.2s linear;
    cursor: pointer;
}
.icon__emoji img{
    width: 30px;
    height: 30px;
}

.navigation__list:hover .navigation__item {
    opacity:0.5;
}
.navigation__list .navigation__item:hover{
    opacity: 1;
}

.navigation__list .navigation__item:hover .item__icon {
    box-shadow: 0 10px 35px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.1);
}

.icon__emoji {
    font-size: 30px;
    color: green;
}

.item__text {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}

.featured {
    padding: var(--padding);
    border-top: var(--borderTop);
    grid-column: 2 / 5;
   
}

.featured .featured__title {
    margin: 0;
    font-size: 18px;
    margin-bottom: 20px;
}

.featured .featured__wrapper {
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.featured-content {
    display: grid;
    grid-column: 1fr;
    height: 300px;
    width: 620px;
    border-radius: 10px;
    display: flex; 
    align-items: flex-end;
    color:white;
    padding: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    background-size: cover;
    background-position: center center;   
}

.featured-content:first-child {
    background-image: url(b_dog2.jpg);
}
.featured-content:nth-child(2) {
    background-image: url(b_dog3.jpeg);
}
.featured-content:nth-child(3) {
    background-image: url(b_dog1.jpg);
}
.featured-content:last-child {
    background-image: url(b_dog4.jpg);
}

/* .featured-content__title {
    margin-right: 10px;
} */
.featured-content__button {
    /* background-color: white; */
    background-image: url(arrow.jpg);
    background-size: 30px;
    background-position: center center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}


